body {
    margin: 0;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url('https://i.pinimg.com/736x/d7/f4/77/d7f4776a781c167756f6544e19a2de9c.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.center-image {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
