body {
    margin: 0;
    height: 100vh;

    background-image: url('https://i.pinimg.com/736x/d7/f4/77/d7f4776a781c167756f6544e19a2de9c.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.center-image {
    width: 150px;
}
